{% load static %}

<!DOCTYPE HTML>
<html>
	<head>
		<title>LearnML - Log In</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
		<noscript><link rel="stylesheet" href="{% static 'assets/css/noscript.css' %}" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Page Wrapper -->
			<div id="page-wrapper">
				<!-- Wrapper -->
					<section id="wrapper">
						<header>
							<div class="inner">
								<h2>Log In</h2>
								<form method="post" action="">
									{% csrf_token %}
									<div class="fields">
										<div class="field">
											<label for="username">Username:</label>
											<input type="text" id="username" name="username" required>
										</div>
										<div class="field">
											<label for="password">Password:</label>
											<input type="password" id="password" name="password" required>
										</div>
									</div>
									<ul class="actions">
										<li><input type="submit" name="login" value="Log In"/></li>
									</ul>
								</form>

								{% if messages %}
									<div class="col-12">
										{% for message in messages %}
											<p>{{message}}</p>
										{% endfor %}
									</div>
								{% endif %}

								<div class="col-12">
									<p>Don't have an account? </p><a href="{% url 'register' %}">Register</a>
								</div>

							</div>
						</header>

					</section>

			</div>

		<!-- Scripts -->
			<script src="{% static 'assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'assets/js/jquery.scrollex.min.js' %}"></script>
			<script src="{% static 'assets/js/browser.min.js' %}"></script>
			<script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
			<script src="{% static 'assets/js/util.js' %}"></script>
			<script src="{% static 'assets/js/main.js' %}"></script>

	</body>
</html>